{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-1">Todo List</h1>
    <a href="{% url 'todo:add-task' %}" class="btn btn-primary">Add Task</a>
  </div>
  <ul class="d-flex justify-content-end gap-5">
    {% for task in tasks %}
      <li>
        {{ task.content }} - Created: {{ task.created_at }}
        {% if task.deadline %} | Deadline: {{ task.deadline }} {% endif %}
      <div class="d-flex justify-content-end gap-3">
        {% if task.is_done %}
          <span style="color: green;">(Done)</span>
          <a href="{% url 'todo:toggle-task' task_id=task.id %}" class="btn btn-warning">Undo</a>
        {% else %}
          <a href="{% url 'todo:toggle-task' task_id=task.id %}" class="btn btn-success">Complete</a>
        {% endif %}
        <a href="{% url 'todo:delete-task' task_id=task.id %}" class="btn btn-danger">Delete</a>
      </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
