{% extends "base.html" %}

{% block content %}
  <h1>Tag List</h1>
  <a href="{% url 'add_tag' %}" class="btn btn-primary">Add Tag</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
      <tr>
        <td>{{ tag.name }}</td>
        <td>
          <a href="{% url 'update_tag' tag.id %}" class="btn btn-warning">Update</a>
          <a href="{% url 'delete_tag' tag.id %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
